
@model UserViewModel

<form asp-action="LoginActionAsync" asp-controller="Register" method="post">

    <div>
        <label asp-for="Email">Email:</label>
        <input type="text" class="form-control" placeholder="Enter your email"
               asp-for="Email" />
    </div><div>
        <label asp-for="password">Password:</label>
        <input type="password" class="form-control" placeholder="Enter your password"
               asp-for="password" />
    </div>

    <button type="submit" >Login</button>
</form>